
.home-container {
    width: 100%;
    height: 100vh;
    background: white;
    position: relative;
  
}

.image-section {
    height: 80vh;
    background-image: url('../../assets/home.jpg');
    background-position: center;
    background-size: cover;

    header {
        
        width: 100%;
        height: 90px;
        background: transparent;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 72px;

        border-bottom: 1px solid   white ;

        font-size: 30px;
        font-weight: 500;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            font-size: 18px;
            text-transform: uppercase;
            width: 360px;
            height: 100%;
            
            li {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                color: white;
                padding: 10px;
                height: 100%;   
                &::after {
                    display: none;
                    content: " ";
                    position: absolute;
                    bottom: 0;
                    height: 2px;
                    width: 100%;
                    background-color: white;
    
                }

                &:hover {
                    cursor: pointer;
                }
    
                &:hover::after {
                    display: block;
                } 
                
             
            }

        }
    }
}

.informative-section {
    width: 100%;
    height: fit-content;
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 80px 72px 0px 72px;
    margin-bottom: 80px;


    div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        max-width: 300px;

        p {
            text-align: center;
        }
    }

    @media screen and (max-width: 400px){
        padding: 80px 40px 0px 40px;

    }

}

.search-section {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    flex-wrap: wrap;
    height: fit-content;
    padding: 40px 0;
    gap: 40px;
 
}

.cardfilter-container {
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    gap: 24px;
    padding: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    h1 {
        font-weight: normal;
    }


}


.footer {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 72px;
    background-color: #319654;
    color: white;
    
    
    ul {
        display: flex;
        align-items: center;
        gap: 24px;
        list-style: none;
        
        li  {
           
            a {
                
                text-decoration: none;
                
                svg {
                color: white;
                }

            }
        }
    }

    @media screen and (max-width: 400px){
        justify-content: center;
        flex-direction: column;
        gap: 16px;

    }
}