* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
